<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Logis Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <h1>Logis</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


    </div>
  </header>
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Visualisation and Insights From Uber Dataset</h2>
          <p data-aos="fade-up" data-aos-delay="100">The Uber Data Analytics Project harnesses Uber's 
            vast data to gain insights and make data-driven decisions. By analyzing trip details, 
            user preferences, and market trends, Uber aims to optimize operational efficiency, 
            driver/passenger experiences, and shape the future of transportation. </p>
            <br/><br/>
          <p>The project utilizes data mining, machine learning, and predictive modeling to improve ride matching,
             identify demand patterns, optimize driver supply, predict rider behavior,
              and enhance pricing strategies. By exploring emerging technologies like AI 
              and computer vision, Uber aims to improve safety measures and automate processes. 
              The project's objectives include reducing wait times, increasing driver earnings, 
              and creating a more efficient and reliable transportation network. Through advanced 
              analytics, Uber seeks to stay ahead in the industry and continue its mission of 
              transforming urban mobility.</p>


          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Clients</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
                <p>Support</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                <p>Workers</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="../static/assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>
        
      </div>
      <h1>Below Are Some Of The DashBoards We Created Using Tablue</h1>
      <a href="https://public.tableau.com/app/profile/priyansh.agarwal1854/viz/internshipproject_16878048782130/Dashboard1?publish=yes"><h3>Tablue Public Deployment Link Of DashBoard</h3></a>
      <div class='tableauPlaceholder' id='viz1687808071438' style='position: relative'><noscript>
        <a href='#'><img alt='Dashboard 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_16878048782130&#47;Dashboard1&#47;1_rss.png' style='border: none' />
        </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
          <param name='embed_code_version' value='3' /> 
          <param name='site_root' value='' />
          <param name='name' value='internshipproject_16878048782130&#47;Dashboard1' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_16878048782130&#47;Dashboard1&#47;1.png' /> 
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' />
          <param name='language' value='en-US' />
          <param name='filter' value='publish=yes' />
        </object></div>                
        <script type='text/javascript'>    
             var divElement = document.getElementById('viz1687808071438');              
                   var vizElement = divElement.getElementsByTagName('object')[0];            
                           if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                           else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                           else { vizElement.style.width='100%';vizElement.style.height='1127px';}                    
                            var scriptElement = document.createElement('script');                   
                             scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';     
                                            vizElement.parentNode.insertBefore(scriptElement, vizElement);   
                                                         </script>
        <br/><br/><br/><br/>

        <h1>Below Are the Individual Visualisations Created</h1>
        <div>
          <div>
            <div class='tableauPlaceholder' id='viz1687808675529' style='position: relative'><noscript><a href='#'>
              <img alt='Purpose of various Drives Count ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_texttable&#47;TextTable&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
              <param name='embed_code_version' value='3' /> 
              <param name='site_root' value='' />
              <param name='name' value='internshipproject_texttable&#47;TextTable' />
              <param name='tabs' value='no' /><param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_texttable&#47;TextTable&#47;1.png' /> 
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
              <param name='filter' value='publish=yes' />
            </object></div>                
            <script type='text/javascript'>             
                   var divElement = document.getElementById('viz1687808675529');                
                       var vizElement = divElement.getElementsByTagName('object')[0];           
                                vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';     
                                               var scriptElement = document.createElement('script');              
                                                     scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  
                                                                       vizElement.parentNode.insertBefore(scriptElement, vizElement);     
                                                                                  </script>
          </div>
          <br/><br/><br/><br/>
          <div>
            <div class='tableauPlaceholder' id='viz1687808910609' style='position: relative'>
              <noscript><a href='#'>
                <img alt='Highest to lowest Start Location of Various Trips ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_horizontalbarchart&#47;Horizontalbarchart&#47;1_rss.png' style='border: none' /></a>
              </noscript>
              <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> 
                <param name='site_root' value='' />
                <param name='name' value='internshipproject_horizontalbarchart&#47;Horizontalbarchart' />
                <param name='tabs' value='no' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_horizontalbarchart&#47;Horizontalbarchart&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en-US' />
                <param name='filter' value='publish=yes' />
              </object></div>                <script type='text/javascript'>              
                    var divElement = document.getElementById('viz1687808910609');             
                           var vizElement = divElement.getElementsByTagName('object')[0];           
                                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px'; 
                                                       var scriptElement = document.createElement('script');                 
                                                          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                                                                             vizElement.parentNode.insertBefore(scriptElement, vizElement);       
                                                                                      </script>
          </div>
          <br/><br/><br/><br/>
          <div>
            <div class='tableauPlaceholder' id='viz1687809005929' style='position: relative'>
              <noscript><a href='#'><img alt='Start Locations of Drives under 2 miles ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_treemap&#47;TreeMap&#47;1_rss.png' style='border: none' />
              </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' />
                 <param name='site_root' value='' />
                 <param name='name' value='internshipproject_treemap&#47;TreeMap' />
                 <param name='tabs' value='no' />
                 <param name='toolbar' value='yes' />
                 <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_treemap&#47;TreeMap&#47;1.png' /> 
                 <param name='animate_transition' value='yes' />
                 <param name='display_static_image' value='yes' />
                 <param name='display_spinner' value='yes' />
                 <param name='display_overlay' value='yes' />
                 <param name='display_count' value='yes' />
                 <param name='language' value='en-US' />
                 <param name='filter' value='publish=yes' />
                </object></div>                
                <script type='text/javascript'>      
                        var divElement = document.getElementById('viz1687809005929');                 
                           var vizElement = divElement.getElementsByTagName('object')[0];                
                               vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';      
                                             var scriptElement = document.createElement('script');                 
                                                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  
                                                                  vizElement.parentNode.insertBefore(scriptElement, vizElement);     
                                                                             </script>
          </div>

          <br/><br/><br/><br/>
          <div>
            <div class='tableauPlaceholder' id='viz1687809113841' style='position: relative'><noscript><a href='#'>
              <img alt='Monthly Analysis of  Total Distances ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_linechart&#47;LINECHART&#47;1_rss.png' style='border: none' />
            </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
               <param name='embed_code_version' value='3' /> 
               <param name='site_root' value='' />
               <param name='name' value='internshipproject_linechart&#47;LINECHART' />
               <param name='tabs' value='no' />
               <param name='toolbar' value='yes' />
               <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_linechart&#47;LINECHART&#47;1.png' /> <param name='animate_transition' value='yes' />
               <param name='display_static_image' value='yes' />
               <param name='display_spinner' value='yes' />
               <param name='display_overlay' value='yes' />
               <param name='display_count' value='yes' />
               <param name='language' value='en-US' />
               <param name='filter' value='publish=yes' />
              </object></div>                
              <script type='text/javascript'> 
                                 var divElement = document.getElementById('viz1687809113841');           
                                          var vizElement = divElement.getElementsByTagName('object')[0];        
                                                      vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';    
                                                                      var scriptElement = document.createElement('script');                
                                                                          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';    
                                                                                          vizElement.parentNode.insertBefore(scriptElement, vizElement); 
                                                                                                         </script>
          </div>

          <br/><br/><br/><br/>
          <div>
            <div class='tableauPlaceholder' id='viz1687809186058' style='position: relative'>
              <noscript><a href='#'>
                <img alt='Categorical Analysis of Drives ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_piechart&#47;PieChart&#47;1_rss.png' style='border: none' /></a>
              </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
               <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='internshipproject_piechart&#47;PieChart' />
               <param name='tabs' value='no' />
               <param name='toolbar' value='yes' />
               <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_piechart&#47;PieChart&#47;1.png' /> 
               <param name='animate_transition' value='yes' />
               <param name='display_static_image' value='yes' />
               <param name='display_spinner' value='yes' />
               <param name='display_overlay' value='yes' />
               <param name='display_count' value='yes' />
               <param name='language' value='en-US' />
               <param name='filter' value='publish=yes' />
              </object></div>      
                        <script type='text/javascript'>   
                           var divElement = document.getElementById('viz1687809186058');       
                                        var vizElement = divElement.getElementsByTagName('object')[0]; 
                                                           vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px'; 
                                                                              var scriptElement = document.createElement('script');                 
                                                                                 scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  
                                                                                                   vizElement.parentNode.insertBefore(scriptElement, vizElement);   
                                                                                                                </script>
          </div>
          <br/><br/><br/><br/>
          <div>
            <div class='tableauPlaceholder' id='viz1687809298772' style='position: relative'>
            <noscript><a href='#'>
              <img alt='Miles to Count Ratio of Various Purpose of Drives ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_scatterplot&#47;Scatterplot&#47;1_rss.png' style='border: none' /></a>
              </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
              <param name='embed_code_version' value='3' /> 
              <param name='site_root' value='' />
              <param name='name' value='internshipproject_scatterplot&#47;Scatterplot' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='yes' />
              <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_scatterplot&#47;Scatterplot&#47;1.png' /> 
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
              <param name='filter' value='publish=yes' />
              </object></div>                
              <script type='text/javascript'>           
                       var divElement = document.getElementById('viz1687809298772');                
                           var vizElement = divElement.getElementsByTagName('object')[0];                
                vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';    
                                var scriptElement = document.createElement('script');                 
                                   scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';  
                                                     vizElement.parentNode.insertBefore(scriptElement, vizElement);  
                                                                   </script>
          </div>

          <br/><br/><br/><br/>

          <div>
            <div class='tableauPlaceholder' id='viz1687809396224' style='position: relative'><noscript><a href='#'><img alt='Decreasing Order of End Locations of Drives ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_barchart&#47;BarChart&#47;1_rss.png' style='border: none' /></a>
            </noscript><object class='tableauViz'  style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
              <param name='embed_code_version' value='3' />
               <param name='site_root' value='' />
               <param name='name' value='internshipproject_barchart&#47;BarChart' />
               <param name='tabs' value='no' />
               <param name='toolbar' value='yes' />
               <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_barchart&#47;BarChart&#47;1.png' /> 
               <param name='animate_transition' value='yes' />
               <param name='display_static_image' value='yes' />
               <param name='display_spinner' value='yes' />
               <param name='display_overlay' value='yes' />
               <param name='display_count' value='yes' />
               <param name='language' value='en-US' />
               <param name='filter' value='publish=yes' />
              </object></div>               
               <script type='text/javascript'>     
               var divElement = document.getElementById('viz1687809396224');        
                           var vizElement = divElement.getElementsByTagName('object')[0];             
                                  vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
                                  var scriptElement = document.createElement('script');                  
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';               
                                         vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
          </div>

          <br/><br/><br/><br/>

          <div>
            <div class='tableauPlaceholder' id='viz1687809500884' style='position: relative'>
              <noscript><a href='#'>
                <img alt='Hourly Analysis of End Time of Various Trips ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_discretelinechart&#47;DiscrerteLineChart&#47;1_rss.png' style='border: none' />
              </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' />
                 <param name='site_root' value='' />
                 <param name='name' value='internshipproject_discretelinechart&#47;DiscrerteLineChart' />
                 <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_discretelinechart&#47;DiscrerteLineChart&#47;1.png' /> 
                 <param name='animate_transition' value='yes' />
                 <param name='display_static_image' value='yes' />
                 <param name='display_spinner' value='yes' />
                 <param name='display_overlay' value='yes' />
                 <param name='display_count' value='yes' />
                 <param name='language' value='en-US' />
                 <param name='filter' value='publish=yes' />
                </object></div>             
                   <script type='text/javascript'>      
                                 var divElement = document.getElementById('viz1687809500884');           
                                          var vizElement = divElement.getElementsByTagName('object')[0];                
                                              vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';              
                                                    var scriptElement = document.createElement('script');                   
                                                     scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';        
                                                                 vizElement.parentNode.insertBefore(scriptElement, vizElement);       
                                                                          </script>
          </div>

          <br/><br/><br/><br/>

          <div>
                      <br/><br/><br/><br/>
                      <div class='tableauPlaceholder' id='viz1687812264438' style='position: relative'><noscript><a href='#'>
                        <img alt='Story 1 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_story&#47;Story1&#47;1_rss.png' style='border: none' /></a></noscript>
                        <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                          <param name='site_root' value='' /><param name='name' value='internshipproject_story&#47;Story1' />
                          <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;in&#47;internshipproject_story&#47;Story1&#47;1.png' />
                           <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                           <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                           <param name='display_count' value='yes' /><param name='language' value='en-US' />
                           <param name='filter' value='publish=yes' /></object></div>              
                             <script type='text/javascript'>                  
                               var divElement = document.getElementById('viz1687812264438');     
                                              var vizElement = divElement.getElementsByTagName('object')[0]; 
                                                                 vizElement.style.width='1016px';vizElement.style.height='691px';  
                                                                                   var scriptElement = document.createElement('script');   
                                                                                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; 
                                                                                                                       vizElement.parentNode.insertBefore(scriptElement, vizElement);    
                                                                                                                                   </script>
          </div>







        </div>


        <br/><br/>
    </div>
  </section><!-- End Hero Section -->

 

 


  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>